.recipe-nutrition h2 {
  color: var(--nutmeg);
  margin-bottom: 20px;
}

.recipe-nutrition .nutritional-values {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.nutritional-values .values {
  display: flex;
  justify-content: space-between;
  padding: 12px 280px 12px 30px;
}

.nutritional-values .values:not(:last-child) {
  border-bottom: 1px solid var(--transparent-bar);
}

.nutritional-values .values p:nth-child(2) {
  color: var(--nutmeg);
  font-weight: var(--semi-bold);
}
